
.contactus{
    display: flex;
}

.map{
    margin-left: 110px;
    margin-top: 50px;
    margin-right: 15px;
}
.details{
    margin-top: 50px;
    width: 600px;
    height: 500px;
    background-color: #ffffff;
    margin-right: 110px;
    margin-left: 15px;
    border-radius: 25px;
    padding-top: 35px;
    padding-bottom: 35px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.details h2{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 35px;
    color: #fc2361;
}
.details p{
    margin-left: 35px;
    margin-top: 8px;
    font-weight: normal;
}
/*suggestions...*/

.suggestions{
    display: flex;
    margin-top: 50px;
}
.form{
    margin-left: 110px;
    height: 450px;
    width: 460px;
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.input{
    margin-top: 55px;
    gap: 5px;
    margin: auto;
    width: 460px;
    height: 60px;
    background: rgb(224, 223, 223);
    border-radius: 10px;
   
}
.image img{
    margin-right: 110px;
    margin-left: 140px;
    height: 650px;
    width: 50px;
}