/* Contact.css */

.contact {
    display: flex;
    flex-direction: column;
  
  }
  
  .contactus {
    width: 100%;
    display: flex;
    padding: 10px; /* Reduced padding from 20px to 10px */
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    gap: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .map {
    width: 70%;
    margin-left: 1rem;
    float: right;
    padding-right: 5px;
    border-radius: 10px;
  }
  
  .details {
    float: right;
  width: 50%;
  padding-left: 5px; /* Adjusted padding */
  padding: 20px; /* Keep the original padding for inner content */
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  }
  .details img{
    height: 300px;
    width: 300px;
    margin-left: 130px;
    margin-top: -30px;
    
  }
  
  .details h2 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #fc2361;
    font-weight: 800;
  }
  
  .details p {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .suggestions {
    width: 100%;
    margin-bottom: 20px;
  }
  
  /* Style for the form container */
.form {
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

/* Style for input containers */
.input-contact {
  width: 360px;
  height: 50px;
  margin-bottom: 20px;
  background-color: #ccc;
  border-radius: 10px;
}

/* Style for input boxes */
.inputBox-contact {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  border: none;
  border-radius: 10px;
  background: transparent;
}

/* Style for submit button */
.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}

  .image {
    text-align: center;
    margin-bottom: 20px;
    float: right;
    width: 400px;
    height: 400px;
  }

  /* Style for input containers */
.input-contact {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

/* Style for input boxes */
.inputBox-contact {
  flex: 1;
  margin-left: 10px; /* Adjust as needed for spacing between image and input */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
}

/* Style for images */
.input-contact img {
  width: 20px; /* Adjust image size as needed */
  height: 20px; /* Adjust image size as needed */
  margin-right: 10px;
  margin-left: 10px;
}
