.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    background:white;
    padding-bottom: 30px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    margin-top: 30px;
}
.signup{
    color: black;
    font-size: 48px;
    font-weight: 700;
}
.underline{
    width: 61px;
    height: 6px;
    background-color: aqua;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: rgb(224, 223, 223);
    border-radius: 6px;
} 
.input img{
    margin: 0px 30px;   
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 19px;
}
.fogot-password{
    
    margin-top: 27px;
    color: rgb(6, 6, 6);
    font-size: 18px;
    align-self: center;
}
.fogot-password span{
    color: rgb(18, 6, 192);
    cursor: pointer;
}
.container-submit{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    /* color: aliceblue; */
    color: black;
    background: #eaeaea;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    
}
.gray{
    color:black;
    background: blueviolet;
    /* color: #676767; */
}
.user-container{
    display: inline-flex;
    justify-content: center;
    gap: 30px;
}
.alluser{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 220px;
    height: 59px;
    color: aliceblue;
    background: rgb(116, 32, 32);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    
}



  