.about {
    margin-top: 25px;
}

.sevaride h1 {
    font-size: 30px;
    font-weight: bolder;
    text-align: center !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px 0px 8px;
    margin-bottom: .5rem;
    line-height: 1.2;
    color: #fc2361;

}

.sevaride p {
    font-size: 22px;
    padding: 0px 240px 0px;
    text-align: center;
    font-weight: 400;

}

.history {
    display: flex;
    margin-top: 30px;
}

.history_paragraph h1 {
    padding-top: 20px;
    font-size: 30px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: -25px;
    margin-bottom: .5rem;
    line-height: 1.2;
    color: #fc2361;
    text-align: center;
}

.history_paragraph p {
    font-size: 22px;
    padding-left: 115px;
    padding-right: 50px;
    text-align: justify;
    line-height: 1.5;
}

.history_image img {
    height: 260px;
    width: 2700px;
    padding-right: 100px;
    margin-top: 28px;
}

.service_promise {
    display: flex;
    margin-top: 25px;
    
}

.service_promise img {
    height: 300px;
    width: 700px;
    padding-left: 115px;
    margin-top: 28px;

}

.content h1 {
    padding-top: 20px;
    font-size: 30px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: -25px;
    margin-bottom: .5rem;
    line-height: 1.2;
    color: #fc2361;
    text-align: center;
}

.content p {
    font-size: 22px;
    padding-left: 50px;
    padding-right: 100px;
    text-align: justify;
    line-height: 1.5;
}

.box {
    display: flex;
    margin-left: 175px;
    margin-right: 175px;
    margin-top: 25px;
}

.problem {
    width: 540px;
    height: 730px;
    margin: 10px;
    padding: 25px;
    background-color: #e9fbff;
    border-radius: 25px;

}

.problem h1 {
    color: #31c5fe;
    margin-bottom: 1.5rem !important;
    margin-top: -15px !important;
    font-size: 28px;
    font-weight: bolder;
}

.problem p {
    line-height: 1.8rem;
    margin-top: -30px;
    font-size: 20px;
}

.problem .list {
    list-style-type: disc;
    margin-top: 7px;
    font-size: 20px;
    font-weight: 500;
    list-style-position: inside;
}

.problem img {
    margin-top: -50px;
}

.solution {
    width: 540px;
    height: 730px;
    margin: 10px;
    padding: 25px;
    background-color: #ffe8ef;
    border-radius: 25px;
}

.solution h1 {
    color: #fc2361;
    margin-bottom: 1.5rem !important;
    margin-top: -15px !important;
    font-size: 28px;
    font-weight: bolder;
}

.solution p {
    line-height: 1.8rem;
    margin-top: 1px;
    font-size: 20px;
}

.solution .list {
    list-style-type: disc;
    font-size: 18px;
    margin-top: 7px;
    list-style-position: inside;
    font-size: 20px;
    font-weight: 500;
}

.solution img {
    margin-left: 110px;
    margin-top: -30px;
}

.team {
    margin-top: 25px;
    display: flex;
    margin-left: 175px;
    gap: 30px;
}

.our_team {
    margin-top: 20px;
}

.our_team h1 {
    font-size: 24px;
    font-weight: 700;
    color: #fc2361;
    text-align: center;
}

.team .one img {
    height: 200px;
    width: 200px;
    border: 2px solid gray;
    border-radius: 50%;
}

.team .one h1 {
    font-size: 20px;
    color: #fc2361;
    font-weight: 800;
    margin-left: 6px;
    margin-top: 15px;
}